.bg {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tec {
  color: #4aa6f7;
}
.card {
  position: relative;
  font-family: 'Saira', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 460px;
  height: 710px;
  border: 1px solid rgba(74, 166, 247, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 60px;
}
.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 60px;
  font-family: 'KoHo', sans-serif;
  width: 100%;
  height: 20%;
}
.cardBody {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}

.text {
  margin-top: 20px;
  margin-bottom: 0;
  color: #4aa6f7;
}
.text1 {
  margin: 0;
}
.cardFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.buttonLeft {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Saira', sans-serif;
  color: white;
  box-sizing: border-box;
  width: 246px;
  height: 100px;
  border: 1px solid rgba(74, 166, 247, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 0px 60px 60px 0px;
}
.buttonRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Saira', sans-serif;
  color: white;
  box-sizing: border-box;
  width: 246px;
  height: 100px;
  border: 1px solid rgba(74, 166, 247, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 60px 0px 0px 60px;
}

@media (max-width: 930px) {
  .container {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
     }
  .card {
    justify-content: center;
    width: 380px;
    height: 550px;
    }
    .cardHeader {
      justify-content: center;
      height: 15%;
    }
    .cardFooter {
      justify-content: center;
      padding-top: 0px;
       height: 10%;
    }
    .cardBody{
      justify-content: center;
      height: 60%;
    }
  .buttonLeft {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 40%;
    height: 9%;
    border-radius: 60px 60px 60px 60px;
  }
  .buttonRight {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40%;
    height: 9%;
    border-radius: 60px 60px 60px 60px;
  }
}
@media (max-height: 720px) {
  .buttonRight {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 4em;
    }
    .buttonLeft {
      z-index: 1;
      display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 4em;
    }
    .card {
      justify-content: center;
      width: 380px;
      height: 550px;
      }

      .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      justify-content: center;}
}
